<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.final_project">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        >
        <activity android:name=".Splash">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".au_fourth_year" />
        <activity android:name=".au_third_year" />
        <activity android:name=".au_second_year" />
        <activity android:name=".au_first_year" />
        <activity android:name=".it_fourth_year" />
        <activity android:name=".it_third_year" />
        <activity android:name=".it_second_year" />
        <activity android:name=".it_first_year" />
        <activity android:name=".is_fourth_year" />
        <activity android:name=".is_third_year" />
        <activity android:name=".is_second_year" />
        <activity android:name=".is_first_year" />
        <activity android:name=".me_fourth_year" />
        <activity android:name=".me_third_year" />
        <activity android:name=".me_second_year" />
        <activity android:name=".me_first_year" />
        <activity android:name=".download_qp_it4" />
        <activity android:name=".download_qp_it3" />
        <activity android:name=".download_qp_it2" />
        <activity android:name=".download_qp_it1" />
        <activity android:name=".download_ebook_it4" />
        <activity android:name=".download_ebook_it3" />
        <activity android:name=".download_ebook_it2" />
        <activity android:name=".download_ebook_it1" />
        <activity android:name=".ebook_it4" />
        <activity android:name=".ebook_it3" />
        <activity android:name=".ebook_it2" />
        <activity android:name=".ebook_it1" />
        <activity android:name=".qp_it4" />
        <activity android:name=".qp_it3" />
        <activity android:name=".qp_it2" />
        <activity android:name=".qp_it1" />
        <activity android:name=".syllabus_it4" />
        <activity android:name=".syllabus_it3" />
        <activity android:name=".syllabus_it2" />
        <activity android:name=".syllabus_it1" />
        <activity android:name=".tt_it4" />
        <activity android:name=".tt_it3" />
        <activity android:name=".tt_it2" />
        <activity android:name=".tt_it1" />
        <activity android:name=".download_ebook_au4" />
        <activity android:name=".download_ebook_au3" />
        <activity android:name=".download_ebook_au2" />
        <activity android:name=".download_ebook_au1" />
        <activity android:name=".download_qp_au4" />
        <activity android:name=".download_qp_au3" />
        <activity android:name=".download_qp_au2" />
        <activity android:name=".download_qp_au1" />
        <activity android:name=".ebook_au4" />
        <activity android:name=".ebook_au3" />
        <activity android:name=".ebook_au2" />
        <activity android:name=".ebook_au1" />
        <activity android:name=".qp_au4" />
        <activity android:name=".qp_au3" />
        <activity android:name=".qp_au2" />
        <activity android:name=".qp_au1" />
        <activity android:name=".syllabus_au4" />
        <activity android:name=".syllabus_au3" />
        <activity android:name=".syllabus_au2" />
        <activity android:name=".syllabus_au1" />
        <activity android:name=".tt_au4" />
        <activity android:name=".tt_au3" />
        <activity android:name=".tt_au2" />
        <activity android:name=".tt_au1" />
        <activity android:name=".download_qp_is4" />
        <activity android:name=".download_qp_is3" />
        <activity android:name=".download_qp_is2" />
        <activity android:name=".download_qp_is1" />
        <activity android:name=".download_ebook_is4" />
        <activity android:name=".download_ebook_is3" />
        <activity android:name=".download_ebook_is2" />
        <activity android:name=".download_ebook_is1" />
        <activity android:name=".ebook_is4" />
        <activity android:name=".ebook_is3" />
        <activity android:name=".ebook_is2" />
        <activity android:name=".ebook_is1" />
        <activity android:name=".qp_is4" />
        <activity android:name=".qp_is3" />
        <activity android:name=".qp_is2" />
        <activity android:name=".qp_is1" />
        <activity android:name=".syllabus_is4" />
        <activity android:name=".syllabus_is3" />
        <activity android:name=".syllabus_is2" />
        <activity android:name=".syllabus_is1" />
        <activity android:name=".tt_is4" />
        <activity android:name=".tt_is3" />
        <activity android:name=".tt_is2" />
        <activity android:name=".tt_is1" />
        <activity android:name=".download_ebook_me4" />
        <activity android:name=".download_ebook_me3" />
        <activity android:name=".download_ebook_me2" />
        <activity android:name=".download_ebook_me1" />
        <activity android:name=".download_qp_me4" />
        <activity android:name=".download_qp_me3" />
        <activity android:name=".download_qp_me2" />
        <activity android:name=".download_qp_me1" />
        <activity android:name=".ebook_me4" />
        <activity android:name=".ebook_me3" />
        <activity android:name=".ebook_me2" />
        <activity android:name=".ebook_me1" />
        <activity android:name=".qp_me4" />
        <activity android:name=".qp_me3" />
        <activity android:name=".qp_me2" />
        <activity android:name=".qp_me1" />
        <activity android:name=".syllabus_me4" />
        <activity android:name=".syllabus_me3" />
        <activity android:name=".syllabus_me2" />
        <activity android:name=".syllabus_me1" />
        <activity android:name=".tt_me4" />
        <activity android:name=".tt_me3" />
        <activity android:name=".tt_me2" />
        <activity android:name=".tt_me1" />
        <activity android:name=".download_ebook_cv4" />
        <activity android:name=".download_ebook_cv3" />
        <activity android:name=".download_ebook_cv2" />
        <activity android:name=".download_ebook_cv1" />
        <activity android:name=".ebook_cv4" />
        <activity android:name=".ebook_cv3" />
        <activity android:name=".ebook_cv2" />
        <activity android:name=".ebook_cv1" />
        <activity android:name=".download_qp_cv4" />
        <activity android:name=".download_qp_cv3" />
        <activity android:name=".download_qp_cv2" />
        <activity android:name=".download_qp_cv1" />
        <activity android:name=".qp_cv4" />
        <activity android:name=".qp_cv3" />
        <activity android:name=".qp_cv2" />
        <activity android:name=".qp_cv1" />
        <activity android:name=".syllabus_cv4" />
        <activity android:name=".syllabus_cv3" />
        <activity android:name=".syllabus_cv2" />
        <activity android:name=".syllabus_cv1" />
        <activity android:name=".tt_cv4" />
        <activity android:name=".tt_cv3" />
        <activity android:name=".tt_cv2" />
        <activity android:name=".tt_cv1" />
        <activity android:name=".cv_fourth_year" />
        <activity android:name=".cv_third_year" />
        <activity android:name=".cv_second_year" />
        <activity android:name=".cv_first_year" />
        <activity android:name=".download_qp_ec4" />
        <activity android:name=".download_ebook_ec4" />
        <activity android:name=".ebook_ec4" />
        <activity android:name=".syllabus_ec4" />
        <activity android:name=".qp_ec4" />
        <activity android:name=".tt_ec4" />
        <activity android:name=".qp_ec3" />
        <activity android:name=".download_qp_ec3" />
        <activity android:name=".download_ebook_ec3" />
        <activity android:name=".ebook_ec3" />
        <activity android:name=".syllabus_ec3" />
        <activity android:name=".tt_ec3" />
        <activity android:name=".download_qp_ec2" />
        <activity android:name=".qp_ec2" />
        <activity android:name=".download_ebook_ec2" />
        <activity android:name=".ebook_ec2" />
        <activity android:name=".syllabus_ec2" />
        <activity android:name=".tt_ec2" />
        <activity android:name=".download_qp_ec1" />
        <activity android:name=".download_ebook_ec1" />
        <activity android:name=".ebook_ec1" />
        <activity android:name=".qp_ec1" />
        <activity android:name=".syllabus_ec1" />
        <activity android:name=".tt_ec1" />
        <activity android:name=".ec_fourth_year" />
        <activity android:name=".ec_third_year" />
        <activity android:name=".ec_second_year" />
        <activity android:name=".ec_first_year" />
        <activity android:name=".download_qp_cs4" />
        <activity android:name=".qp_cs4" />
        <activity android:name=".download_ebook_cs4" />
        <activity android:name=".ebook_cs4" />
        <activity android:name=".syllabus_cs4" />
        <activity android:name=".tt_cs4" />
        <activity android:name=".download_ebook_cs3" />
        <activity android:name=".ebook_cs3" />
        <activity android:name=".download_qp_cs3" />
        <activity android:name=".qp_cs3" />
        <activity android:name=".syllabus_cs3" />
        <activity android:name=".tt_cs3" />
        <activity android:name=".download_ebook_cs2" />
        <activity android:name=".ebook_cs2" />
        <activity android:name=".download_qp_cs2" />
        <activity android:name=".qp_cs2" />
        <activity android:name=".syllabus_cs2" />
        <activity android:name=".tt_cs2" />
        <activity android:name=".About" />
        <activity android:name=".eduwize" />
        <activity android:name=".calender_of_events" />
        <activity android:name=".download_qp_cs1" />
        <activity android:name=".download_ebook_cs1" />
        <activity android:name=".cs_fourth_year" />
        <activity android:name=".cs_third_year" />
        <activity android:name=".cs_second_year" />
        <activity android:name=".ebook_cs1" />
        <activity android:name=".qp_cs1" />
        <activity android:name=".syllabus_cs1" />
        <activity android:name=".tt_cs1" />
        <activity android:name=".cs_first_year" />
        <activity
            android:name=".cgpa_real"
            android:label="@string/title_activity_cgpa_real"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Automobile" />
        <activity android:name=".Instrumentation_and_technology" />
        <activity android:name=".Information_science" />
        <activity android:name=".Civil" />
        <activity android:name=".Mechanical" />
        <activity android:name=".Electronics_and_Communication" />
        <activity android:name=".Computer_Science" />
        <activity android:name=".cgpa_calculator" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".FiresbaseNotification"
            android:enabled="false"
            android:exported="false" />
    </application>
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.sensor.compass"
        android:required="true" />

</manifest>